.reservation-section {
    background-color: #3498db;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label, input {
    margin-bottom: 10px;
}

button {
    background-color: hsl(120, 73%, 75%);
    color: darkgreen;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: darkcyan;
    color: white;
}
